@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  /* border: 1px solid red; */
  color: black;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}
.headingText {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 138.5%;
  color: #0fa958;
}
.mainP {
  text-align: justify;
}
.panaImage1 {
  display: none;
}
.teamImg {
  border: 1px solid #ffffff;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.teamImg img {
  margin: 0 auto;
}
.teamimg {
  width: 317px;
  height: 260px;
}
.div-one h3 {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .panaImage {
    display: none;
  }
  .panaImage1 {
    display: block;
  }
  .gridd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .section-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .teamimg {
    width: 317px;
    height: 142px;
  }
  .div-one h3 {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .panaImage1 {
    margin-left: 2rem;
    width: 32rem;
  }
  .headingText {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }
  .mainP {
    font-size: 24px;
    line-height: 42px;
  }
  .mainPP {
    font-size: 20px;
    line-height: 27.7px;
  }
  .teamimg {
    height: 260px;
    object-fit: cover;
  }
}
