@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  border: 1px solid red;
  color: black;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}
.headingText {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 138.5%;
  color: #0fa958;
}
.mainP {
  text-align: justify;
}
.panaImage1 {
  display: none;
}
@media (min-width: 768px) {
  .panaImage {
    display: none;
  }
  .panaImage1 {
    display: block;
  }
  .gridd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .panaImage1 {
    margin-top: -3rem;
    margin-left: 2rem;
    width: 16rem;
  }
  .headingText {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }
}
