.con-main {
  border: 1px solid #ffffff;
  background: #ffffff;
  box-shadow: 2px 2px 20px 4px rgba(15, 169, 88, 0.1);
}
.con-main h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 138.5%;
  color: #0fa958;
}
.con-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 138.5%;
  color: #1e1e1e;
}
.con-art {
  display: none;
}
@media (min-width: 768px) {
  .con-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .con-art {
    display: block;
  }
  .con-art img {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
}
