.sec-one {
  background: linear-gradient(
    180deg,
    rgba(15, 169, 88, 0.51) 0%,
    #0fa958 99.99%,
    #0fa958 100%
  );
}
.footerText {
  color: white;
}
.footerIcon {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .sec-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .griid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .copyright {
    transform: translateX(50%);
  }
}
@media (min-width: 1024px) {
  .griid1 {
    display: flex;
    margin-left: 14rem;
  }
  .sec-two {
    margin-left: 6rem;
  }
}
