.container {
  object-fit: cover !important;
  position: relative;
  width: 100%;
}

.imagee {
  opacity: 1;
  display: block;
  width: 120%;
  height: auto;
  cursor: pointer;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 8.8rem;
  right: -3rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .imagee {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.textt {
  color: black;
  font-size: 15px;
  text-align: justify;
}
@media (min-width: 768px) {
  .gal-art {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .imagee {
    width: 25rem !important;
  }
  .gal-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .galgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .gal-div1 img {
    height: 100%;
    object-fit: cover;
  }
  .middle {
    left: 7.8rem;
    right: -7rem;
  }
  .textt {
    font-size: 13px;
    font-weight: 700;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .middle {
    left: 13rem;
    cursor: pointer;
  }
  .textt {
    font-size: 20px;
  }
  .gal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
