.sec-profile {
  border: 1px solid #ffffff;
  background: #ffffff;
  box-shadow: 0px 2px 15px 2px rgba(15, 169, 88, 0.15);
}
.art-profile img {
  margin: 0 auto;
  border-radius: 50px;
  object-fit: cover;
}
.profile-two {
  margin-left: 2rem;
  color: #0fa958;
  font-weight: 600;
  line-height: 20px;
}
.profile-three {
  margin-left: 1.3rem;
  color: #fb1b1b;
  font-weight: 600;
  line-height: 20px;
}
.logoutt,
.useracc {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0fa958;
}
.div-orderr {
  /* justify-content: space-between !important; */
}
.total-earn {
  border: 1px solid #ffffff;
  background: #ffffff;
  box-shadow: 0px 2px 15px 2px rgba(15, 169, 88, 0.15);
  width: 70%;
}
@media (min-width: 768px) {
  .sec-profile {
    min-height: 40rem !important;
    height: auto;
    position: relative;
  }

  .logoutt {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  .art-griid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .detaiils {
    margin-top: 3rem !important;
  }
  .sec-profile2 {
    transform: translateX(12px);
  }
  .div-orderr {
    /* justify-content: space-between !important; */
  }
}
@media (min-width: 1024px) {
  .logoutt,
  .useracc {
    font-size: 20px;
  }
  .sec-profile2 {
    transform: translateX(12px);
  }
  .total-earn {
    width: 40%;
  }
  .total-earn h4,
  .total-earn h5,
  .art-earnn h5,
  .earn-pp {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1440px) {
  .sec-profile2 {
    transform: translateX(14px);
  }
  .logoutt {
    margin-top: 28vh !important;
  }
  .logoutt,
  .useracc {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
  }
}
