.reg-sec {
  background-color: #0fa958;
  display: none;
}
.sec-sidebar p {
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
}
.side-div button {
  border: 1px solid #ffffff;
  width: 240px;
  height: 46px;
  background: #ffffff;
  color: #0fa958;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.reg-buttn {
  width: 270px;
  height: 46px;
  background: #0fa958;
  color: white;
}
.reg-art {
  transform: translateY(30%);
}
.reg-img {
  margin-top: 6rem;
}
.regImg-ind {
  margin-top: 3rem;
}
.reg-ind {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.reg-ind h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #1e1e1e;
}
.div-ind h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 50px;
  color: #0fa958;
}
.div-ind img {
  margin: 0 auto;
}
.ind-buttn {
  width: 270px;
  height: 46px;
  background: #0fa958;
  color: white;
  margin: 0 auto !important;
  text-align: center;
}
@media (min-width: 768px) {
  .reg-sec {
    display: block;
    /* height: 100vh; */
  }
  .iconText {
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
  }
  .reg-art {
    transform: translateY(0%);
  }
  .reg-art h4 {
    margin-top: 8rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
  }
  .reg-img {
    margin-top: 8rem;
  }
  .reg-ind {
    margin-top: -0.1rem !important;
  }
  .sideicon {
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin-top: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .main-img {
    margin: 0 auto;
  }
  .side-div {
    margin-bottom: 1rem !important;
  }
  .side-div button {
    width: 250px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
  }
  .reg-art {
    margin-left: 1rem;
  }
  .reg-art h4 {
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
  }
  .sec-reg {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
  }
  .reg-buttn {
    width: 340px;
    height: 60px;
  }
  .reg-ind {
    margin: 0 auto;
  }
}
