.slick-dots li.slick-active button:before {
    color: #0FA958 !important;
}

.slick-dots li button:before {
    font-size: 20px !important;

}

.slick-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-dashboard-menu{
    display: none;
}
@media screen and (max-width:992px){
    .mobile-menu{
        width:calc(100vw - 40px);
    }
}

@media screen and (max-width:767px){
    .mobile-dashboard-menu{
        display: block;
        width:calc(100vw - 40px);
    }
}