.slick-dots li.slick-active button:before {
    color: #0FA958 !important;
}

.slick-dots li button:before {
    font-size: 20px !important;

}

.slick-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}